body {
    background-color: #000000;
    font-family: 'Manrope', sans-serif;
}

.header {
    border-bottom: 1px solid #444444;
    height: 70px;
}

.navbar__wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.navbar__svg {
    width: 200px;
}

.navbar__list {
    display: flex;
    list-style-type: none;
    gap: 24px;
}


a {
    text-decoration: none;
    color: white;
}

.navbar__li-btn a {
    background-color: white;
    color: black;
    padding: 1rem 2.25rem;
    border-radius: 55px;
    font-weight: 700;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 92vh;
    background-image: url(/public/images/star-bg.svg);
    background-size: cover;
    padding-bottom: 8rem;
}

.hero__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__heading h1 {
    color: white;
    font-size: 4.5rem;
    font-weight: 500;
    text-align: center;
    line-height: 74px;
}

.hero__heading span {
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
}


.hero__sub-heading h2 {
    color: #5e5e5e;
    font-size: 1rem;
    margin-top: 30px;
    margin-bottom: 48px;
    text-align: center;
    line-height: 28px;
}

.hero__btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 28px;
}

.hero__generate-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 55px;
    padding: 14px 34px;
    gap: 10px;
}

.hero__download-btn {
    background-color: white;
    color: black;
    font-weight: 600;
    border-radius: 55px;
    padding: 14px 34px;
}