html {
    scroll-behavior: smooth;
}

body {
    background-color: #000000;
    font-family: 'Manrope', sans-serif;
}

body::selection {
    color: black;
    background-color: white;
}

.header {
    border-bottom: 1px solid #444444;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar__wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;

}

.navbar__svg {
    transition: all .8s ease-in-out;
    width: 200px;
}

.navbar__svg:hover {
    scale: 110%;
    cursor: pointer;
}

.navbar__list {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
    list-style-type: none;
    gap: 24px;
}

.navbar__li:hover a {
    color: rgb(167, 167, 167);
}

a {
    text-decoration: none;
    color: white;
    transition: all 0.1s ease-out allow-discrete;
}

.navbar__li-btn a {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 1rem 2rem;
    border-radius: 55px;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.5s ease-out;
}

.navbar__li-btn a:hover {
    background-color: rgb(197, 197, 197);
    transform: scale(1.02);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 92vh;
    background-image: url(/public/images/star-bg.svg);
    background-size: cover;
    padding-bottom: 8rem;
    position: relative;
    overflow: hidden;
    transition: all 5s ease-in-out;
}

.hero__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.hero__heading h1 {
    color: white;
    font-size: 4.5rem;
    font-weight: 500;
    text-align: center;
    line-height: 85px;
    margin-top: 5px;
}


.hero__heading span {
    font-size: 1.25rem;
    font-weight: 600;
    background: linear-gradient(120deg,
            hsl(260 70% 70%),
            hsl(0 100% 80%));
    background-clip: text;
    color: transparent
}


.hero__sub-heading h2 {
    color: #808080;
    font-size: 1rem;
    margin-top: 30px;
    margin-bottom: 48px;
    text-align: center;
    line-height: 28px;
}

.hero__btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 28px;
}

.hero__generate-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 55px;
    padding: 14px 34px;
    gap: 10px;
    transition: all 0.3s ease-out allow-discrete;
}

.hero__generate-btn:hover {
    scale: 110%;
}

.hero__download-btn {
    background-color: white;
    color: black;
    font-weight: 600;
    border-radius: 55px;
    padding: 14px 34px;
    transition: all 0.3s ease-out allow-discrete;
}

.hero__download-btn:hover {
    background-color: rgb(201, 201, 201);
    scale: 110%;
}

.hero__blur {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1500px;
    height: 1500px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(227, 184, 255, 0.3) 9%, rgba(0, 0, 0, 0) 70%);
    overflow: hidden;
    animation: pulseAnimation 5s infinite;
    z-index: -10;
}

@keyframes pulseAnimation {

    0%,
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.8;
    }

    50% {
        transform: translate(-50%, -50%) scale(1.1);
        opacity: 0.5;
    }
}